@keyframes color-change2 {
    0% {
        color:rgb(133, 133, 184)
    }

    50% {
        color:rgb(4, 4, 37)
    }

    100% {
        color:rgb(133, 133, 184)
    }
}
@keyframes color-change {
    0% {
      color: blue;
    }

    25% {
        color: rgb(255, 255, 0);
      }
  
    50% {
      color: red;
    }
  
    75% {
      color: rgb(0, 255, 0);
    }

    100% {
        color: rgb(0, 0, 255);
      }
}

body {
    font-family: Arial,  sans-serif; /* Семейство шрифтов */
    font-size: 24px; /* Размер основного шрифта в <p></p>  */
    background-color: #2700b6
    color: #333333; /* Цвет основного текста */
    h2:hover{animation: color-change2 3s infinite}
}
h1 {
    color: #00a800; /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
    animation: color-change 3s infinite;
}